BACKEND_RUNNING_PORT=your_backend_running_port # Port number for the Express server
PG_USER=your_pg_user # PostgreSQL database username
PG_HOST=your_pg_host # PostgreSQL database host
PG_DB_NAME=your_pg_db_name # PostgreSQL database name
PG_PASSWORD=your_pg_password # PostgreSQL database password
PG_PORT=your_pg_port # PostgreSQL database port

CLOUDINARY_NAME=your_cloudinary_name # Cloudinary cloud name
CLOUDINARY_KEY=your_cloudinary_key # Cloudinary API key
CLOUDINARY_SECRET=your_cloudinary_secret # Cloudinary API secret

JWT_SECRET=your_jwt_secret # Secret key for JWT token generation and verification